#hot{
    padding: 10px 70px 0 70px;
}

.hot_recommend{
    border: 1px solid rgb(170, 170, 170);
    border-top-color: rgb(50, 134, 245);
    border-top-width: 2px;
}

.hot_title{
    padding: 10px;
    background: rgba(218, 218, 218,0.2);
}

.hot_shop{
    display: flex;
    justify-content: flex-start;
}

.hot_shop li{
    height: 100px;
    display: flex;
    justify-content: space-between;
}

.hot_shop div{
    width: 100px;
    height: 100px;
}
.hot_shop img{
    width: 100%;
    height: 100%;
}

.hot_shop li dl{
    margin-left: 20px;
    width: 150px;
}

.hot_shop li dl dt{
    color: rgb(165, 165, 165);
    font-size: 12px;
    position:relative;
    line-height:21px;
    height:42px; /*height是line-height的整数倍，防止文字显示不全*/
    overflow:hidden;
}

.hot_shop li em{
    color: red;
}

.hot_shop li dd{
    margin-top: 5px;
}

.buy_button{
    margin-top: 5px;
    width: 80px;
    height: 30px;
    border: none;
    color: white;
    background: rgb(255, 89, 89);
    border-radius: 2px;
}

.header_sort{
    margin: 10px 70px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid rgb(165, 165, 165);
}

.header_sort ul{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
}

.header_sort ul li{
    margin-left: 10px;
    margin-top: 10px;
}

.header_sort ul li a{
    font-size: 15px;
}


/* 商品列表 */
.goods_list{
    width: 100%;
}

.goods_list_content{
    padding: 10px 0;
    margin: 0 70px;
    border: 1px solid red;
    height: 100%;
}

.good{
    width: 250px;
}

.goods_info{
    display: flex;
    flex-direction: column;
    align-items: center;
} 
/* 大图 */
.goods_img{
    width: 150px;
    height: 200px;
}

.goods_img img{
    width: 100%;
    height: 100%;
}
/* 小图 */
.goods_small_img{
    margin-top: 5px;
    margin-left: 25px;
    width: 100%;
    height: 40px;
}

.goods_small_img img{
    width: 40px;
    height: 40px;
}

.goods_title{
    font-size: 12px;
    margin-left: 10px;
    margin-top: 5px;
}

.goods_title a{
    color: black;
}

.price{
    width: 100%;
    margin-top: 5px;
}

.real_price{
    margin-left: 10px;
    font-size: 20px;
    color: red;
}

.discount_price{
    font-size: 16px;
    color: rgb(165, 165, 165);
}


/* 隐藏信息 */
.goods_other_info{
    display: none;
    width: 250px;
    /* display: flex; */
    flex-direction: column;
    align-items: center;
}

.first_mode{
    display: flex;
    justify-content: flex-start;
}

.first_mode li{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgb(165, 165, 165);
    border-left: none;
}

.first_mode .goods_comment{
    border-right: none;
}

.first_mode li span{
    font-size: 14px;
    color: rgb(50, 134, 245);
}

.first_mode li em{
    font-size: 14px;
}
/* 店铺名字 */
.goods_store{
    width: 100%;
    height: 30px;
    background: rgba(165, 165, 165,0.2);
    text-align: center;
    line-height: 30px;
}

/* 加入购物车按钮 */
.add_cart{
    width: 100%;
    height: 40px;
    background: rgb(50, 134, 245);
    text-align: center;
    line-height: 40px;
}

.add_cart button{
    background: rgb(50, 134, 245);
    border: none;
    color: white;
    font-size: 20px;
    height: 100%;
}

.goods_otherInfo_show{
    display: flex;
    /* height: 180px; */
}

.goods_otherInfo_hidden{
    display: none;
}


